@media (max-width: 600px) {
    .page-main {
        margin: 0 auto;
    }
    
    .form-block {
        padding: 41px 25px 41px 25px;
    }

    .page-main__heading {
        font-size: 25px;
    }
}