*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    background-image: url("../bgimage.png");
}

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page-main__heading {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 25px 0 25px 0;
    align-self: center;
    text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.97);
}

.sign-up-modal {
    display: flex;
    flex-direction: column;
    background: #171929;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
    border-radius: 27px;
    width: 100%;
    max-width: 389px;
    align-items: center;
    justify-content: center;
    padding: 41px 45px 41px 45px;
}

.sign-up-modal__text {
    font-weight: 400;
    size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 238px;
    text-align: center;
    margin: 0;
}

.sign-up-modal {
    display: flex;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #797EA3;
    justify-content: flex-end;
}

.form__text--span {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #797EA3;
    padding-right: 7px;
}

.form-block__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #797EA3;
}

.form-block__input {
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    background: #171929;
    border-bottom: 1px solid #3F4363;
    margin-bottom: 38px;
    color: #FFFFFF;
    outline: none;
    transition: 0.5s ease;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.form-block__enter:focus {
    content: "";
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #FFFFFF;
}

.form-block__label {
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #797EA3;
    position: relative;
    display: flex;
    align-items: center;

}

.form-block__label-checkbox--padding {
    padding-left: 37px;
}

.form-block__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2C2F47;
    border-radius: 28px;
    width: 100%;
    max-width: 121px;
    height: 44px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}

.form__modal__input--message {
    display: flex;
}

.form__modal--checkbox {
    text-decoration: none;
    color: #797EA3;
}

.form-block__enter--message {
    resize: none;
}

.form__modal__checkbox--label {
    color: #797EA3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-block__tick+label::before {
    content: url("../checkboxoff.svg");
    position: absolute;
    width: 31px;
    height: 31px;
    left: -3px;
}

.form-block__tick:checked+label::before {
    content: url("../checkboxon.svg");
    position: absolute;
    width: 31px;
    height: 31px;
    left: -3px;
}

.container {
    margin: 0 auto;
    max-width: 250px;
}

.form-block__inputs {
    padding: 0;
    margin: 0;
}

.form-block__item--row {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.form-block__policy {
    color: #797EA3;
    text-decoration: underline;
    margin-left: 5px;
}

.form-block__policy:hover {
    opacity: 0.5;
    transition: .1s ease;

}

.form-block__submit:not(:hover) {
    opacity: 0.5;
    transition: 3s;
}

.form-block__submit:disabled {
    cursor: not-allowed;
}

.form-block__consent {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #797EA3;
}

.form-block__item-button--arrangement {
    display: flex;
    align-items: center;
}